.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* additional settings from here */

/* General */

button {
  margin-right: 3px;
  margin-bottom: 5px;
  border: solid 1px grey;
}

/* Header */

.jumbotron {
  background-color: darkgrey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lead {
  color: white;
}

/* DeckList */

.deck-contents {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px;
  border: solid 1px lightgrey;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-edge-buttons {
  margin-left: auto;
}

.flex-row-space-between {
  display: flex;
  justify-content: space-between;
}

/* Deck */

.flex-content-row {
  display: flex;
  flex-direction: row;
}

.deck-card-contents {
  margin-bottom: 20px;
  padding: 10px;
  border: solid 1px lightgrey;
}

.card-text-contents {
  display: flex;
  flex-direction: row;
}

.left-column {
  width: 50%;
}

.right-column {
  width: 50%;
}

.right-edge-buttons {
  text-align: right;
}

/* Study */

.single-card-contents {
  margin-bottom: 20px;
  padding: 10px;
  border: solid 1px lightgrey;
}
